body {
    margin: 0;
    font-family: 'Indie Flower', cursive;
    background-color: #2b3d5b;
    user-select: none;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #000000;
}

#canvas {
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to bottom, #ffccff 0%, #ccffff 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#score {
    display: block;
    border: 10px solid gray;
    color: #ffffff;
    width: 150px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#message {
    position: absolute;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 5px rgba(51, 153, 51, 0.5);
}

.message{
    width:100%;
    min-height:100%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position: fixed;
    z-index: 10000;
    top:0px;
}
.message .message-content{
    display: flex;
    flex-direction: column;
    margin: 240px auto;
    width: 350px;
    height: 180px;
    padding: 10px;
    background-color: #c5c5c5;
    border-radius: 7px;
    box-shadow: 0px 0px 10px #000;
}

.message-text{
    font-size: 45px;
    font-weight: 800;
    color: #000;
}

.message-score{
    padding: 10px;
    font-size: 20px;
}

.message-button{
    width: 120px;
    height: 40px;
    padding-top: 4px;
    margin: 25px auto 0;
    background-color: #fff;
    user-select: none;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    font-size: 20px;
    color: #000;
    font-size: 25px;
    font-weight: 800; 
}